*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contactModal{
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 9999;
    background-color: rgba(113, 142, 147, 0.1);
    padding: 0;
    margin: 0;
}